<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HangMan</title>
        <link href="./static/css/style.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./static/javaScript/hangman.js" type="module"></script>
    </head>
    <body>
        <div id="app">
            {{displayWord}}
            <br />
            {{message}}
            <div>
                <input
                    v-model="myGuess"
                    @keyup.enter="addItem"
                    type="text"
                    placeholder="your guess"
                    maxlength="1"
                />
                <button @click="addItem">Guess</button>
            </div>
            <div>
                <p>Your Guesses:</p>
                <span v-for="i in usedLetters">{{i}} </span>
            </div>
            <button @click="reset">Reset</button>
        </div>
    </body>
</html>
