<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HangMan</title>
        <link href="./static/css/style.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./static/javaScript/hangman.js" type="module"></script>
    </head>
    <body>
        <header>
            <div class="titleSec">
                <div class="flexParent">
                    <h1 class="siteTitle">The Tasty Loaf</h1>
                </div>
                <nav>
                    <a href="./index.html" class="dropButton">Home</a>

                    <div class="drop">
                        <button class="dropButton">Recipes</button>
                        <div class="dropStuff">
                            <a href="./rec_slow_sourdough.html"
                                >Slow Sourdough</a
                            >
                            <a href="./rec_pizza_dough.html">Pizza Dough</a>
                        </div>
                    </div>

                    <div class="drop">
                        <button class="dropButton">Worksheets</button>
                        <div class="dropStuff">
                            <a href="./wkst_starter.html">Starter Worksheet</a>
                        </div>
                    </div>

                    <div class="drop">
                        <button class="dropButton">Extra</button>
                        <div class="dropStuff">
                            <a href="./resources.html">Resources</a>
                            <a href="./hangMan.html">Game</a>
                        </div>
                    </div>

                    <a href="./contact.html" class="dropButton">Contact</a>
                    
                    <a href="./about.html" class="dropButton">About</a>
                </nav>
            </div>
            <div class="titleBase"></div>
        </header>
        <main>
            <div class = "flexParentVert centerText">
                <h2>Waiting on your bread?</h1>
                <h3>Lets play a game of hangman while you wait</h3>
            </div>
            <noscript class="flexChild middleText centerText">
                <p>Sorry, JavaScript must be enabled to play this game.</p>
            </noscript>
            <div id="jsToggle1" class="hidden">
                <div id="app">
                    <div class="flexParent flexNorm">
                        <div class="flexChild centerText">
                            <p class="targetWord">{{displayWord}}</p>
                            <p>{{message}}</p>

                            <input
                                v-model="myGuess"
                                @keyup.enter="addItem"
                                type="text"
                                placeholder="your guess"
                                maxlength="1"
                            />
                            <button @click="addItem" class = "subButton">Guess</button>

                            <p>
                                Your Guesses:<br /><span
                                    v-for="i in usedLetters"
                                    >{{i}}
                                </span>
                            </p>

                            <br />
                            <button @click="reset" class = "subButton">Reset</button>
                        </div>
                        <div class="flexChild">
                            <img
                                id="gameImage"
                                class="paperBack"
                                :src="imageState"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="innerFoot">
                <p>The Tasty Loaf</p>
                <p>A Bread Baking Blog</p>
                <p>2021</p>
            </div>
        </footer>
    </body>
</html>
